.bo{
           
    background-image: url("https://thumbs.dreamstime.com/b/scratched-grunge-horizontal-recycled-note-paper-texture-light-background-scratched-grunge-horizontal-recycled-note-paper-texture-127626487.jpg");
    background-color: rgb(232, 231, 181);
}
.d{
    background-color: rgb(196, 195, 241);
    border-radius: 8px;
    box-sizing: 40px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 120px;
}
.tot{
    width: 300px;
    margin: auto;
    height: auto;
    padding: 40px;
    border-radius: 10px;
    background-color: black;
}
.b{
    border-color: black;
    background-color: rgb(204, 202, 190);
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
}
.p{
    border-color: black;
    background-color: rgb(204, 202, 190);
    padding: 8px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 15px;
}
.e{
    border-color: black;
    background-color: rgb(204, 202, 190);
    padding: 8px;
    padding-left: 122px;
    padding-right: 122px;
    border-radius: 15px;
    box-align: center;
}